*{
    font-family: "Montserrat";
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #f6f1bf;
    margin: 0;
    padding: 0;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2b7a2b;
    transition: all 0.4s ease;
    cursor: pointer;
}

header .logo:hover {
    transform: scale(1.1);
    text-shadow: 0 2px 0px rgba(0,0,0,0.2);
    animation: 0.2s;
}

header .logo img {
    height: 90px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #2d73b5;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #2d73b5;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav a:hover {
    transform: scale(1.1);
    animation: 0.2s;
}

.login {
    font-weight: bold;
    color: #2d73b5;
    justify-self: right;
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.login img {
    height: 30px;
    margin-right: 8px;
}


main {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.relatorio {
    background-color: #f4f3ea;
    border: 2px solid #a7d3a7;
    border-radius: 16px;
    padding: 20px;
    width: 60%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.15);
}

.relatorio h1 {
    color: #2d73b5;
    margin-top: 0;
    font-size: 50px;
}
.relatorio p {
    color: #555;
    font-size: 16px;
}

.filtros select {
    background-color: #f4f3ea;
    color: #555;
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.filtros input[type="text"] {
    background-color: #f4f3ea;
}



.filtros input, .filtros select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 48%;
    transition: all 0.1s;
}

.filtros input:focus, .filtros select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0,123,255,0.5);
  outline: none;
}


.lista::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 16px;
}
.lista::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 10px;
    
}
.lista::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 16px;
}

.lista {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 5px;
}
.lista .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.desc {
    margin-top: 5px;
    color: #555;
    font-size: 14px;
}

.arquivos {
    padding-right: 10px;
}
.lista .item button {
    border: 1px solid #2d73b5;
    border-radius: 5px;
    padding: 6px 10px;
    color: #2d73b5;
    cursor: pointer;
}

.lista .item button:hover {
    background-color: #2d73b5;
    color: white;
}


.acoes {
    background-color: #f4f3ea;
    border: 2px solid #a7d3a7;
    border-radius: 16px;
    padding: 20px;
    width: 25%;
    height: fit-content;
    width: 300px;
}

.acoes .resumo-box {
    box-shadow: 0 0px 20px rgba(0,0,0,0.15);
}

.acoes a{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #2d73b5;
    color: #2d73b5;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    background-color: #2d73b507;
    transition: none;
}
.acoes a:hover {
    background-color: #2d73b5;
    color: white;
    transition: none;
}

.acoes h3 {
    color: #2d73b5;
    margin-top: 0;
}

.acoes button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #2d73b5;
    color: #2d73b5;
    cursor: pointer;
}

.acoes button:hover {
    background-color: #2d73b5;
    color: white;
}


footer {
    padding: 10px 30px;
    justify-content: space-between;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #2d73b5;
    color: white;
    font-size: 18px;
    position: fixed;
    
}


.chamada-box h1{
    font-size: 50px;
    color: #2d73b5;
    margin-top: 0;
}

.chamada-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.chamada-form input,
.chamada-form select{
    background-color: #f4f3ea;
}

.status label{
    margin-right: 18px;
    font-weight: bold;
    color: #2d73b5;
    cursor: pointer;
}

.chamada-buttons{
    border: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
    justify-self: end;
}

.chamada-buttons .salvar{
    background-color: #2d73b5;
    color: white;
}

.resumo-box button{
    margin-top: 10px;
}
