.quadrado {
    width: 100px;
    height: 100px;
    background-color: paleturquoise;
    animation-name: mudaCor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes mudaCor {
    from { background-color: paleturquoise;}
    to {background-color: darkred;}
}
.bolinha {
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    border-radius: 360px;
    animation-name: movimento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 50px;
}
.circulo {
     width: 100px;
    height: 100px;
    background-color: lightskyblue;
    border-radius: 360px;
    animation-name: aumentar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 50px;

}

@keyframes movimento {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(200px);
    }
}
@keyframes aumentar {
    from {
        transform: scale(1);
        background-color: lightblue;
    }
    to {
        transform: scale(2);
        background-color: pink;
    }
}

img {
    margin-top: 100px;
    width: 200px;
    animation: andar 4s infinite;
}
@keyframes andar {
    0% {
        transform: translateX(0); scale: (1);
    }
    50% {
        transform: translateX(200px) scaleX(1);
    }
    51% {
        transform: translateX(200px) scale(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }

}