.caixa {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    margin: 20px;
}
body{
    display: flex;
    justify-content: center;
}
.visible{
    overflow: visible;
    background-color: lightblue;
}

.hidden{
    overflow: hidden;
    background-color: lightgreen;
}

.scroll{
    overflow: scroll;
    background-color: lightsalmon;
}

.auto{
    overflow: auto;
    background-color: lightpink;
}
