.titulo::before {
    content: '★';
}
.titulo::after {
    content: '★';
}
.titulo2{
    position: relative;
}

.titulo2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: blue;
    bottom: -5px;
    left: 0;
}
.botao{
    position: relative;
}
.botao::after {
    content: '﷼';
    opacity: 0;
    transition: 0.5s;
}

.botao:hover::after {
    opacity: 1;
}
.menu{
    text-decoration: none;
    color: black;
    position: relative;
}
.menu::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: brown;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.menu:hover::after {
    width: 100%;
}