div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
}
.caixa1{
    background: linear-gradient(90deg, red 20%, blue 50%, yellow 80%);
}

.caixa2{
    background: radial-gradient(ellipse at top left, orange, purple);
}

.caixa3{
    background: conic-gradient(from 90deg, green, yellow, red, green);
}