/*reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Header*/
header {
    background-color: #1d0f6e;
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
}
/*MAIN*/
.aviao {
    background-image: url(img/aviao.png);
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    background-position: bottom;
}
/*Footer*/
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}