body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}
img{
    width: 1280px;
    height: 720px;
    filter: saturate(200%);
}
.carrossel{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
.cImg{
    width: 400%;
    display: flex;
    animation: deslizar 12s infinite;
}

@keyframes deslizar{
    0%{transform: translateX(0);}
    20%{transform: translateX(0);}
    25%{transform: translateX(-1280px);}
    45%{transform: translateX(-1280px);}
    50%{transform: translateX(-2560px);}
    70%{transform: translateX(-2560px);}
    75%{transform: translateX(-3840px);}
    95%{transform: translateX(-3840px);}
    100%{transform: translateX(0);}
}