.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
    padding: 10px;
}

.galeria img {
    width: 300px;
    height: 400px;
    filter: grayscale(100%) blur(2px);
    transition: all 0.4s ease;
}

.galeria img:hover {
    filter: none;
    transform: scale(1.1);
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}