img {
    width: 600px;
    border-radius: 10px;
    transition: all 0.5s ease;
}


.efeito-hover {
    filter: brightness(90%);
}

.efeito-hover:hover {
    filter: brightness(110%) saturate(120%);
    transform: scale(1.1);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
}

.galeria img {
    width: 400px;
    filter: grayscale(100%) blur(2px);
    transition: all 0.4s ease;
}

.galeria img:hover {
    filter: none;
    transform: scale(1.1);
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
