img { 
    width: 500px; 
} 
.blur { 
    filter: blur(4px); 
} 
.grayscale { 
    filter: grayscale(100%); 
} 
.sepia { 
    filter: sepia(100%); 
} 
.brigthness { 
    filter: brightness(150%); 
} 
.invert { 
    filter: invert(100%); 
} 
.contrast { 
    filter: contrast(200%); 
}

.efeito-hover:hover { 
    filter: sepia(100%) brightness(150%); 
    transition: 0.5s; 
}

body { 
    text-align: center; 
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
}