body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.header-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}
header {
    background-color: lightblue;
    padding: 10px 0;
    text-align: center;
}

.banner{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.bannertexto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: lightgray;

}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.card{
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.card ::content{
    padding: 15px;
}

.main-content{
    flex: 1;
    padding: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao1{
 border-radius: 10px;
 background-color: aqua;
 filter: none;

}
