* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 600px;
    border-radius: 5px;
    background-color: #ffffff;
}

input {
    width: 595px;
    height: 25px;
    border-radius: 5px;
}

.caixa-login {
    width: 600px;
    height: 90%;
    padding: 30px;
    background-color: #f4f3ea;
    border: 3px solid #ddd;
    border-radius: 20px;
    margin: 50px auto;
    text-align: center;
    transform: scale(1.2);
}

.login {
    text-align: left;
}

.imggoogle {
    width: 20px;
    height: 20px;
}
.entrar {
    margin-top: 5px;
}

.Continue {
    margin-top: 5px;
    border: 2px solid#000000;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.logo {
    width: 350px;
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
}

.ou {
    display: flex;
}

.linha {
    background-color: #000000;
    width: 100%;
    height: 1px;
}

.ou p {
    margin: 0 10px;
}

body {
    background-image: url(imglogin/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

a .ahref {
    height: 100px;
}

footer {
    padding-top: 930px;
}