*{
    font-family: "Montserrat";
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #f6f1bf;
    margin: 0;
    padding: 0;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2b7a2b;
    transition: all 0.4s ease;
    cursor: pointer;
}

header .logo:hover {
    transform: scale(1.1);
    text-shadow: 0 2px 0px rgba(0,0,0,0.2);
    animation: 0.2s;
}

header .logo img {
    height: 90px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #2d73b5;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #2d73b5;
    font-weight: bold;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav a:hover {
    transform: scale(1.1);
    animation: 0.2s;
}

.login {
    font-weight: bold;
    color: #2d73b5;
    justify-self: right;
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.login img {
    height: 30px;
    margin-right: 8px;
}

.inicio {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
}

.inicio a {
    text-decoration: none;
    color: #2d73b5;
}

.presente {
    color: green;
}

.falta {
    color: red;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    width: 200px;
}

tr {
    color: black;
}

table {
    padding-top: 40px;
    width: 1000px;
    height: 280px;
}

.selecione {
    height: 40px;
    width: 500px;
    border-radius: 5px;
}
form {
    display: flex;
}
.buscar1 {
    padding-left: 10px;
}
.txtt {
    width: 450px;
    height: 35px;
}

footer {
    padding: 10px 30px;
    justify-content: space-between;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #2d73b5;
    color: white;
    font-size: 18px;
    position: fixed;
    
}

.caixa-quest h1 {
    justify-self: center;
}
main {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#motivo {
    height: 50px;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.presenca {
    background-color: #f4f3ea;
    border: 2px solid #a7d3a7;
    border-radius: 16px;
    padding: 20px;
    width: 60%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.filtros select {
    background-color: #f4f3ea;
    color: #555;
}

.filtros {
    justify-items: center;
    justify-self: center;
    margin: 20px 0;
    width: 100%;
}

.filtros input[type="text"] {
    background-color: #f4f3ea;
}



.filtros input, .filtros select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 70%;
    transition: all 0.1s;
}

.filtros input:focus, .filtros select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0,123,255,0.5);
  outline: none;
}

.chamada-box h1{
    font-size: 50px;
    color: #2d73b5;
    margin-top: 0;
}

.chamada-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.chamada-form input,
.chamada-form select{
    background-color: #f4f3ea;
}

.presenca h1{
    color: #2d73b5;
    margin-top: 0;
}

.tabela-presenca::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 16px;
}
.tabela-presenca::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 10px;
    
}
.tabela-presenca::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 16px;
}

.tabela-presenca {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.tabela-presenca table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
}

.tabela-presenca th,
.tabela-presenca td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabela-presenca tr{
    height: 90px;
}

.tabela-presenca{
    padding-right: 5px;
}